body {
  margin: 0;
  padding: 0;
  font-family: cairo, sans-serif;
}

:root {
  font-size: 12px;
  --gray0: #EBE9ED;
  --gray1: #C3BCC8;
  --gray2: #A59AAC;
  --gray3: #877891;
  --gray4: #685C70;
  --gray5: #49404F;
  --gray6: #2A252C;
  --gray-dim: rgba(135, 120, 145, 0.2);
  --blue1: #5A92FF;
}

.light {
  --bg: var(--gray1);
  --fg: var(--gray0);
  --fg-dim: var(--gray-dim);
  --titles: var(--blue1);
  --subtitle: var(--gray3);
  --icons: var(--gray2);
  --bg-nav: var(--gray5);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray4);
  --shadow-nav2: var(--gray3);
  --active-navitem: var(--blue1);
  --text: var(--gray4);
  --hr: var(--gray1);
  --btn-prime-bg: var(--blue1);
  --btn-second-bg: var(--gray3);
  --btn-text: var(--gray0);
}

.dark {
  --bg: var(--gray5);
  --fg: var(--gray6);
  --fg-dim: var(--gray-dim);
  --titles: var(--blue1);
  --subtitle: var(--gray1);
  --icons: var(--gray2);
  --bg-nav: var(--gray6);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray5);
  --shadow-nav2: var(--gray3);
  --active-navitem: var(--blue1);
  --text: var(--gray1);
  --hr: var(--gray4);
  --btn-prime-bg: var(--blue1);
  --btn-second-bg: var(--gray1);
  --btn-text: var(--gray5);
}

hr {
  margin: 0;
  border: 1px solid var(--hr);
  border-top: 0;
}

.navbar {
  position: fixed;
  background: var(--bg-nav);
  color: var(--text-nav);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px -4px 4px var(--bg);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  border-radius: 50%;
  background-color: var(--shadow-nav1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease;
}

.nav-item:hover {
  background-color: var(--shadow-nav2);
}

.nav-link svg {
  fill: var(--text-nav);
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 50%;
  filter: opacity(0.7);
  transition: all 200ms ease;
}

.nav-link:hover svg {
  fill: var(--active-navitem);
  filter: opacity(1);
}

main {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.container {
  min-width: 500px;
  width: 100rem;
  background-color: var(--fg);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-titles {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
}

.header-title {
  font-size: 4rem;
  color: var(--titles);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-subtitle {
  font-size: 1.25rem;
  color: var(--subtitle);
}

.header-actions {
  margin: 3rem 2rem;
}

.header-actions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-actions-icon svg {
  height: 4rem;
  width: 4rem;
  fill: var(--icons);
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-container {
  padding: 0rem 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.row-section {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  transition: all 300ms ease-in-out;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-gray {
  fill: var(--icons);
}

.icon-lg svg {
  width: 2rem;
  height: 2rem;
}

.icon-prime svg {
  fill: var(--btn-prime-bg);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.75rem
}

.text-title {
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-note {
  color: var(--subtitle);
  font-size: 1rem;
  padding: 0.5rem;
}

.steps-container {
  max-height: 0;
  margin: 0;
  transition: max-height, width, 300ms ease;
  overflow: hidden;
}

.steps-container::-webkit-scrollbar {
  display: none;
}

.expanded {
  max-height: 50vh;
  margin: 1rem 5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.step-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.step-title {
  font-size: 1.5rem;
  color: var(--text);
}

.gray-bg {
  transition: all 200ms ease-in-out;
  background-color: var(--fg-dim);
}

.flip {
  transform: rotate(-180deg);
}

.crossed {
  text-decoration: line-through;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay-container-lg {
  width: 60rem;
  height: 40rem;
  background-color: var(--fg);
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.overlay-container {
  width: 40rem;
  height: 20rem;
  background-color: var(--fg);
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.hide {
  display: none;
}

.header-margin {
  margin: 1rem;
  margin-top: 3rem;
}

.textinput {
  border: none;
  padding-left: 0.5rem;
  border-bottom: 2px solid var(--gray-dim);
  color: var(--text);
  background-color: transparent;
  font-size: 1.5rem;
  margin: 0.5rem;
}

.textinput:visited {
  background: aqua !important;
}

.textinput-lg {
  font-size: 2rem;
}

.textinput:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--btn-prime-bg);
  transition: border 200ms ease;
}

.textinput-invalid {
  border-bottom: 2px solid rgb(255, 54, 87, 0.6) !important;
  transition: border 200ms ease;
}

.steps-input-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}

.indent {
  margin-left: 2rem;
}

.scroll {
  width: 100%;
  overflow-y: scroll;
  flex: 1;
}

.btn {
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  margin: 1.1rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-row {
  margin: 1.1rem 0 !important;
  width: 100% !important;
}

.btn-prime {
  background-color: var(--btn-prime-bg);
  color: var(--btn-text);
}

.btn-second {
  background-color: var(--btn-second-bg);
  color: var(--btn-text);
}

.btn-disabled {
  filter: opacity(0.4) grayscale(20%)
}

.btn-disabled:hover {
  cursor: default !important;
  text-decoration: none !important;
}

.dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.iconbutton {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  align-items: center;
  color: var(--titles);
}

.iconbutton:hover {
  cursor: pointer;
  text-decoration: var(--titles) underline;
}

.iconbutton:focus {
  outline: none;
}

.tagrow {
  display: flex;
  align-items: center;
}

.tagrow-label {
  color: var(--text);
}

.grow {
  flex: 1;
}

.input-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.padding-top {
  padding-top: 1rem;
}

.padding {
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
}

.select-input {
  padding: 0.5rem;
  border: 1px solid var(--gray-dim);
  border-radius: 0.5rem;
}

.select-input:hover {
  background-color: var(--gray-dim)!important;
}

.select-item {
  width: 100%;
}

.select-item:hover {
  background-color: var(--gray-dim)!important;
}

.selected {
  color: var(--btn-text) !important;
  background-color: var(--btn-prime-bg)!important;
  width: 100%;
}

.dropdown {
  z-index: 1;
  position: absolute;
  background-color: var(--fg);
  border: 1px solid var(--gray-dim);
  border-top: 0;
  transform: translateY(60%);
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  max-height: 20rem;
  width: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-sm {
  background-color: var(--fg);
  margin: auto;
  transform: translateX(-6rem);
  min-width: 400px;
  height: 500px;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.ver-margin {
  margin: 2rem 0;
}

.col {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 799px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 6rem;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .container {
    width: 100%;
    min-width: 0;
    overflow-y: scroll;
  }
  .expanded {
    margin: 1rem;
  }
  .overlay {
    left: 0;
    bottom: 6rem;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
  }
  .navbar-nav {
    flex-direction: column;
    height: 100%;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
  main {
    padding-left: 6rem;
  }
  .overlay {
    left: 6rem;
  }
}