body {
  font-family: cairo, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --gray0: #EBE9ED;
  --gray1: #C3BCC8;
  --gray2: #A59AAC;
  --gray3: #877891;
  --gray4: #685C70;
  --gray5: #49404F;
  --gray6: #342E38;
  --gray7: #1F1C22;
  --gray-dim: rgba(135, 120, 145, 0.2);
  --blue1: #5A92FF;
  --orange1: #f4845f;
  --orange2: #F05E2D;
  --green1: #96E072;
  --green2: #58B828;
}

.light {
  --bg: var(--gray1);
  --fg: var(--gray0);
  --fg-dim: var(--gray-dim);
  --titles: var(--blue1);
  --subtitle: var(--gray3);
  --icons: var(--gray3);
  --bg-nav: var(--gray5);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray4);
  --shadow-nav2: var(--gray3);
  --active-navitem: var(--blue1);
  --text: var(--gray5);
  --hr: var(--gray1);
  --btn-prime-bg: var(--blue1);
  --btn-second-bg: var(--gray4);
  --btn-text: var(--gray0);
  --pomodoro-work: var(--orange2);
  --pomodoro-break: var(--green2);
  --pomodoro-longbreak: var(--gray5);
  --pomodoro-tint: var(--gray1);
  --pomodoro-head: var(--gray0)
}

.dark {
  --bg: var(--gray5);
  --fg: var(--gray6);
  --fg-dim: var(--gray-dim);
  --titles: var(--blue1);
  --subtitle: var(--gray1);
  --icons: var(--gray1);
  --bg-nav: var(--gray7);
  --text-nav: var(--gray0);
  --shadow-nav1: var(--gray5);
  --shadow-nav2: var(--gray3);
  --active-navitem: var(--blue1);
  --text: var(--gray0);
  --hr: var(--gray4);
  --btn-prime-bg: var(--blue1);
  --btn-second-bg: var(--gray3);
  --btn-text: var(--gray0);
  --pomodoro-work: var(--orange1);
  --pomodoro-break: var(--green1);
  --pomodoro-longbreak: var(--gray0);
  --pomodoro-tint: var(--gray5);
  --pomodoro-head: var(--gray6)
}

.navbar {
  position: fixed;
  background: var(--bg-nav);
  color: var(--text-nav);
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 3rem;
  width: 3rem;
  margin: 1rem 0;
  border-radius: 50%;
  background-color: var(--shadow-nav1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 200ms ease;
}

.nav-item:hover {
  background-color: var(--shadow-nav2);
}

.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link svg {
  fill: var(--text-nav);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  filter: opacity(0.7);
  transition: all 200ms ease;
}

.nav-link:hover svg {
  fill: var(--active-navitem);
  filter: opacity(1);
}

main {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.container {
  min-width: 500px;
  width: 80rem;
  padding: 1rem 0;
  background-color: var(--fg);
}

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header-titles {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.header-title {
  font-size: 3rem;
  color: var(--titles);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-subtitle {
  font-size: 1rem;
  color: var(--subtitle);
}

.header-actions {
  margin: 2rem;
}

.header-actions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions-icon svg {
  height: 3rem;
  width: 3rem;
  fill: var(--icons);
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-container>hr {
  border: 0;
  margin-left: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.row-container:last-child hr {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1.5rem;
}

.row-section {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  margin: 0 1rem;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-gray {
  fill: var(--icons);
}

.icon-pomodoro {
  fill: #FF8E6A;
}

.icon-sm svg {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.icon-lg svg {
  width: 2rem !important;
  height: 2rem !important;
}

.icon-prime svg {
  fill: var(--btn-prime-bg);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox svg {
  fill: var(--text);
}

.checkbox-disabled {
  filter: opacity(0.5) grayscale(0.5);
  cursor: default !important;
}

.text-title {
  font-size: 1.5rem;
  margin: 0 1rem;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text-note {
  color: var(--subtitle);
  font-size: 1rem;
  margin: 0 1rem;
}

.steps-container {
  max-height: 0;
  margin: 0;
  transition: max-height, width, 300ms ease;
  overflow: hidden;
}

.steps-container::-webkit-scrollbar {
  display: none;
}

.step-container>hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.expanded {
  max-height: 50vh;
  margin-left: 5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.step-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 1rem;
}

.step-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60vw;
  color: var(--text);
}

.gray-bg {
  transition: all 200ms ease-in-out;
  background-color: var(--fg-dim);
}

.flip {
  transform: rotate(-180deg);
}

.crossed {
  text-decoration: line-through;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay-container-lg {
  width: 40rem;
  height: 30rem;
  background-color: var(--fg);
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.overlay-container {
  width: 30rem;
  height: 15rem;
  background-color: var(--fg);
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.hide {
  display: none;
}

.header-margin {
  margin: 1rem;
  margin-top: 3rem;
}

.textinput {
  border: none;
  padding-left: 0.5rem;
  border-bottom: 2px solid var(--gray-dim);
  color: var(--text);
  background-color: transparent;
  font-size: 1rem;
  margin: 0.5rem;
}

.textinput-lg {
  font-size: 1.5rem;
}

.textinput:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--btn-prime-bg);
  transition: border 200ms ease;
}

.textinput-invalid {
  border-bottom: 2px solid rgb(255, 54, 87, 0.6) !important;
  transition: border 200ms ease;
}

.steps-input-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0;
}

.steps-input-container hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.indent {
  margin-left: 2rem;
}

.scroll {
  width: 100%;
  overflow-y: scroll;
  flex: 1;
}

.btn {
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-row {
  margin: 1rem 0 !important;
  width: 100% !important;
}

.btn-prime {
  background-color: var(--btn-prime-bg);
  color: var(--btn-text);
}

.btn-second {
  background-color: var(--btn-second-bg);
  color: var(--btn-text);
}

.btn-disabled {
  filter: opacity(0.4) grayscale(20%)
}

.btn-disabled:hover {
  cursor: default !important;
  text-decoration: none !important;
}

.dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.iconbutton {
  display: flex;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  align-items: center;
  color: var(--titles);
}

.iconbutton:hover {
  cursor: pointer;
  text-decoration: var(--titles) underline;
}

.iconbutton:focus {
  outline: none;
}

.tagrow {
  display: flex;
  align-items: center;
}

.tagrow-label {
  color: var(--text);
}

.grow {
  flex: 1;
}

.input-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.padding-top {
  padding-top: 1rem;
}

.padding {
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
}

.select-input {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-dim);
  border-radius: 0;
}

.select-input:hover {
  background-color: var(--gray-dim)!important;
}

.select-item {
  color: var(--text);
  text-decoration: none;
  width: 12rem;
  height: 2.5rem;
}

.select-item-sm {
  width: 5rem !important;
  padding: 0 1rem;
}

.select-item:hover {
  background-color: var(--gray-dim);
  text-decoration: none;
}

.select-item-selected {
  color: var(--btn-text) !important;
  background-color: rgba(90, 146, 255, 0.7);
}

.select-item-selected:hover {
  background-color: rgba(90, 146, 255, 0.7)!important;
}

.align-row {
  display: flex;
  align-items: center;
  padding: 0 1rem
}

.dropdown {
  z-index: 1;
  position: absolute;
  background-color: var(--fg);
  border-top: 0;
}

.border {
  border: 1px solid var(--gray-dim);
}

.dropdown-scroll {
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-right {
  transform: translateX(-60%);
}

.container-sm {
  background-color: var(--fg);
  margin: auto;
  transform: translateX(-5rem);
  width: 25rem;
  height: 32rem;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}

.ver-margin {
  margin: 2rem 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.rotate90 {
  z-index: 1;
  transform-origin: center;
  transform: rotate(-90deg);
}

.pomodoro-work .progress-tint {
  stroke: var(--pomodoro-tint);
  transition: stroke 200ms ease;
}

.pomodoro-work .progress-main {
  stroke: var(--pomodoro-work);
  transition: stroke 500ms ease;
}

.pomodoro-work .progress-head {
  stroke: var(--pomodoro-work);
  transition: stroke 500ms ease;
}

.pomodoro-work .progress-text {
  fill: var(--pomodoro-work);
  transition: fill 250ms ease;
}

.pomodoro-work .pomodoro-icon {
  fill: var(--pomodoro-work);
  transition: fill 250ms ease;
}

.pomodoro-break .progress-tint {
  stroke: var(--pomodoro-tint);
  transition: stroke 200ms ease;
}

.pomodoro-break .progress-main {
  stroke: var(--pomodoro-break);
  transition: stroke 500ms ease;
}

.pomodoro-break .progress-head {
  stroke: var(--pomodoro-break);
  transition: stroke 500ms ease;
}

.pomodoro-break .progress-text {
  fill: var(--pomodoro-break);
  transition: fill 250ms ease;
}

.pomodoro-break .pomodoro-icon {
  fill: var(--pomodoro-break);
  transition: fill 250ms ease;
}

.pomodoro-longbreak .progress-tint {
  stroke: var(--pomodoro-tint);
  transition: stroke 200ms ease;
}

.pomodoro-longbreak .progress-main {
  stroke: var(--pomodoro-longbreak);
  transition: stroke 500ms ease;
}

.pomodoro-longbreak .progress-head {
  stroke: var(--pomodoro-longbreak);
  transition: stroke 500ms ease;
}

.pomodoro-longbreak .progress-text {
  fill: var(--pomodoro-longbreak);
  transition: fill 250ms ease;
}

.pomodoro-longbreak .pomodoro-icon {
  fill: var(--pomodoro-longbreak);
  transition: fill 250ms ease;
}

.progress-text {
  font-size: 3rem;
}

.progress-head {
  fill: var(--pomodoro-head);
}

.pomodoro-icon {
  z-index: 1;
}

.default-select-input {
  background-color: var(--btn-prime-bg);
  width: 12rem;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default-select-input:hover {
  cursor: pointer;
}

.default-select-input-title {
  color: var(--btn-text);
  text-overflow: ellipsis;
  width: 10rem;
  overflow: hidden;
}

.default-select-input-icon {
  display: flex;
  align-items: center;
}

.default-select-input-icon svg {
  width: 1rem;
  height: 1rem;
  fill: var(--btn-text);
}

.default-select-row {
  background-color: var(--btn-second-bg);
  color: var(--btn-text);
  width: 11rem;
  height: 2rem;
  padding: 0 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--btn-text);
  overflow: hidden;
  text-overflow: ellipsis;
}

.default-select-row-selected {
  background-color: var(--btn-prime-bg);
}

.default-select-row:hover {
  cursor: pointer;
  background-color: rgba(90, 146, 255, 0.7)!important;
}

@media only screen and (max-width: 799px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .container {
    width: 100%;
    min-width: 0;
    overflow-y: scroll;
  }
  .container-sm {
    transform: none;
    margin: auto 1rem;
  }
  .text-note {
    display: none;
  }
  .expanded {
    margin: 0 1rem;
  }
  .overlay {
    left: 0;
    bottom: 5rem;
  }
  .progress {
    width: 20rem;
    height: 20rem;
    max-width: 90vw;
    max-height: 90vw;
  }
  .icon {
    margin: 0 0.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar-nav {
    flex-direction: column;
    height: 100%;
  }
  .nav-item:first-child {
    margin-top: 1.5rem;
  }
  .nav-item:last-child {
    margin-bottom: 1.5rem;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
  main {
    padding-left: 5rem;
  }
  .overlay {
    left: 5rem;
  }
  .progress {
    width: 25rem;
    height: 25rem;
  }
}